<div class="container">
    <div class="row">
        <div class="col-md-10"><h1 style="text-align: center;">ยก{{user.first_name}} te damos la bienvenida!</h1></div>
        <div class="col-md-2"><button onclick="window.location.href='/sessions/logout'" style="margin-top: 4%;">Cerrar Session</button></div>
    </div>
</div>
<div style="display: flex">
<br>
    <h3 style="font-family: 'Courier New', Courier, monospace;">Mis Productos</h1>
    <a href="/agregar" style="text-decoration: none; color: black;margin-left:1%;"><h3>+</h3></a>
</div>
<br>
<h5 style="font-family: 'Courier New', Courier, monospace; margin-left: 85%">Status: {{pagProducts.status}}</h2>

<ul id="docs" style="font-family: 'Courier New', Courier, monospace;margin:2rem;display: flex;
    flex-wrap: wrap">
    {{#each pagProducts.docs}}
    <li style="width: 30%;margin-left: 2%;list-style: none;margin-bottom: 0.5rem;background-color: white;padding: 10px;border-radius: 0.25rem;text-align: center;">
        <p><strong>id:</strong> {{this._id}}</p>
        <p><strong>title:</strong> {{this.title}}</p>
        <p><strong>description:</strong>{{this.description}}</p>
        <p><strong>thumbnails:</strong> {{this.thumbnails}}</p>
        <p><strong>price:</strong> {{this.price}}</p>
        <p><strong>code:</strong> {{this.code}}</p>
        <p><strong>stock:</strong> {{this.stock}}</p>
        <p><strong>category:</strong> {{this.category}}</p>
        <br>
    </li>
    {{/each}}
</ul>

<div class="page-links" style="font-family: 'Courier New', Courier, monospace;display:flex;margin-left: 35%;margin-bottom: 2%">
    {{#if pagProducts.hasPrevPage}}
    <a href={{pagProducts.prevLink}} >
    <button class="btn-left" style="background-color:blanchedalmond; ">Anterior</button>
    </a>
    {{else}}
    <a>
    <button class="btn-left btn-disabled" style="background-color:blanchedalmond;">Anterior</button>
    </a>
    {{/if}}
    <h2 style="margin-left: 3%;margin-right: 3%">{{pagProducts.page}} de {{pagProducts.totalPages}}</h2>
    {{#if pagProducts.hasNextPage}}
    <a href={{pagProducts.nextLink}} >
    <button class="btn-right" style="background-color:blanchedalmond;">Siguiente</button>
    </a>
    {{else}}
    <a>
    <button class="btn-right btn-disabled" style="background-color:blanchedalmond;">Siguiente</button>
    </a>
    {{/if}}
</div> 

<script src="/socket.io/socket.io.js"></script>
